@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@media print {
  @page {
    margin: 1.5cm;
    size: A4 portrait;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
}
